@{
    Layout = null;
}

 <! DOCTYPE html >

<html>

<head>

    <title>
        Erro
    </title>
</head>
<body>
    <h2>
        Servidor com problemas

    </h2>
    <p>
        Houve um problema em nosso servidor .<br />
        Por favor tente novamente dentro de alguns instantes .

    </p>
</body>
</html>
